<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>header}}
</head>
<body>
    <div class="container">
        {{>navbar}}
        <form action="/login" method="POST" class="loginForm">
        <div class="login">
            <div class="loginHeading">Login</div>
            <div class="userAvtar">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="field"> 
                    <input name="uEmail" class="input ema" type="text" placeholder="Email">
                        <span class="name">Email</span>
                        <span class="email icon"> <i class="fa-solid fa-envelope"></i> </span>
                    </div>
                    <div class="field"> 
                    <input name="uPassword" class="input pass" type="password" placeholder="Passowrd">
                        <span class="name">Password</span>
                        <span class="hide"> <i class="fa-solid fa-eye-slash"></i> </span>
                        <span class="lock icon"> <i class="fa-solid fa-lock"></i> </span>
                    </div> 
                    <div class="field forgotPass">
                        
                        <span name="check"> <input type="checkbox" name="" id="check"> Remember Me</span>
                        <span class="forgot">Forgot Pasword</span>
                    </div>
                    <button type="submit" class="field login-btn">Login</button>
        </div>
        </form>
    </div>
</body>
</html>