<div>
    <header>
        <div class="title">Abhishek Bahuguna</div>
    <ol>
        <li> <a href="#">Home</a> </li>
        <li> <a href="">Services</a> </li>
        <li> <a href="#">Contact</a> </li>
        <li> <a href="#">About</a> </li>
    <div class="access">
        <a href="register"> <button class="btn">SignUp</button> </a>
        <button class="btn">LogIn</button>
    </div>
    </ol>
</header>
</div>